/* STYLE RESET */
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* FONTS */

/* COMFORTAA FONT */
/* comfortaa font */
.comfortaa-uniquifier {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  /* barlow font */
  .barlow-thin {
      font-family: "Barlow", sans-serif;
      font-weight: 100;
      font-style: normal;
    }
    
    .barlow-extralight {
      font-family: "Barlow", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
    
    .barlow-light {
      font-family: "Barlow", sans-serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .barlow-regular {
      font-family: "Barlow", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .barlow-medium {
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .barlow-semibold {
      font-family: "Barlow", sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    
    .barlow-bold {
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .barlow-extrabold {
      font-family: "Barlow", sans-serif;
      font-weight: 800;
      font-style: normal;
    }
    
    .barlow-black {
      font-family: "Barlow", sans-serif;
      font-weight: 900;
      font-style: normal;
    }
    
    .barlow-thin-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 100;
      font-style: italic;
    }
    
    .barlow-extralight-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 200;
      font-style: italic;
    }
    
    .barlow-light-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 300;
      font-style: italic;
    }
    
    .barlow-regular-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .barlow-medium-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-style: italic;
    }
    
    .barlow-semibold-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 600;
      font-style: italic;
    }
    
    .barlow-bold-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-style: italic;
    }
    
    .barlow-extrabold-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 800;
      font-style: italic;
    }
    
    .barlow-black-italic {
      font-family: "Barlow", sans-serif;
      font-weight: 900;
      font-style: italic;
    }

    /* HEADER */
    h1 {
        background-color: white;
        color: hsl(20, 100%, 65%);
        font-size: 30px;
        width: 390px;
        height: 60px;
        margin: 10px;
        outline: solid white;
        border-radius: 10px;
        vertical-align: top;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 40px;
        top: 10px;
      }
      
      header img {
        width: 70px;
        background-color: white;
        margin: 0px;
      }
      
      /*NAVIGATION*/
      
      .nav-styling {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      nav {
        font-size: 30px;
      }
      
      nav ul {
        text-decoration: none;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        width: 60%;
        left: 150px;
        top: 20px;
      }
      
      nav ul li {
        background-color: hsl(76, 23%, 51%);
        list-style-type: none;
        color: white;
        font-size: 20px;
        outline: none;
        width: 160px;
        height: 60px;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
      
      }
      
      nav ul li:hover {
        background-color:hsl(20, 100%, 65%);
      }
      
      li a {
        color: white;
        display: flex;
        position: absolute;
        flex-direction: row;
        width: 160px;
        height: 60px;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
      }
      
      #line-one {
        display: flex;
        position: relative;
        background-color: hsl(46, 98%, 80%);
        width: 921px;
        height: 5px;
        left: 150px;
        top: 33px;
      }
      
      #line-two {
        display: flex;
        position: relative;
        background-color: hsl(20, 100%, 65%);
        width: 921px;
        height: 5px;
        left: 150px;
        top: 38px;
      }

    /* MAIN */
    body {
        background-color: hsl(22, 100%, 98%);
        max-height: 100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
      }
    
    main {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        top: 50px;
        color: hsl(0, 84%, 24%);
    }

    h2 {
        font-size: 35px;
    }

    h4 {
        font-size: 20px;
    }

    form {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      width: 500px;
      height: 500px;
      left: 500px;
      background-color: hsl(76, 23%, 51%);
    }